@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br />

</div>

<div class="container">
    
    <ul class="list-group text-center">
        <li class="list-group-item list-group-item-success">
            <h2>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Products</a>
            </h2>
            <br />
            <hr />
         </li>
         <br />
        <li class="list-group-item list-group-item-info">
            <h2>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Users</a>
            </h2>
            <br />
            <hr />
        </li>
        <br />

        <li class="list-group-item list-group-item-warning">
            <h2>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Orders</a>
            </h2>
            <br />
            <hr />

        </li>


    </ul>
</div>
