@model Eshop.Models.Product
@{
    List< Category >cats = (List<Category>)ViewBag.Category;
    

}

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<h1>Create</h1>
<h4>Product</h4>
<hr />
<div class="row justify-content-between"  >
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                

                <select class="form-control" asp-for="Category.Id" data-toggle="tooltip" data-trigger="hover" data-placement="top"
                        data-title="Status">
                    @foreach (var item in cats)
                    {

                        <option value="@item.Id">@item.Name</option>
                    }

                </select>


                <span asp-validation-for="Category" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>*@
            <div class="form-group">

               
               <div class="custom-file mt-2">
                  
                    <input type="file" accept="image/*" asp-for="Image" 
                    class="custom-file-input"
                    onchange="document.getElementById('productImage').src = window.URL.createObjectURL(this.files[0])"
                    />
                    <label class="custom-file-label" asp-for="Image">Choose picture</label>
                    <span asp-validation-for=Image class="text-danger"></span>
                </div>
              

            </div>
            <div class="form-group">
                <label asp-for="QuantityInStocke" class="control-label">Quantity In Stocke</label>
                <input asp-for="QuantityInStocke" class="form-control" />
                <span asp-validation-for="QuantityInStocke" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <img id="productImage" class="img-thumbnail w-100"  height="236" alt="product image"  src="~/images/defaaultProduct.png" />

        </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
