@model Eshop.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>


    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" disabled />
            </div>
            
            <div class="form-group">
                <label asp-for="QuantityInStocke"></label>
            <input asp-for="QuantityInStocke" class="form-control" disabled />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                
               
            <img id="productImage" class="img-thumbnail w-100" height="236" alt="product image" src="data:image/*;base64,@(Convert.ToBase64String(Model.Image))" />

            <div class="form-group">
               
                @Html.DisplayFor(m=>m.Date)
            </div>
               
            </div>
        </div>
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
